# Java
*.class
*.log
*.jar
*.war
*.ear

# Package files
*.zip
*.tar.gz
*.rar

# IntelliJ IDEA
.idea/
*.iml
out/
*.ipr
*.iws

# VS Code (если вдруг)
.vscode/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
build/
.gradle/
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo

# Java crash logs
hs_err_pid*
replay_pid*
